<h1 style='text-align: center;'> Obteniendo Conocimiento </h1> 
<strong> Alumno: </strong> Daniel Dionicio Guzmán Chuva </br> 
<strong> Carrera: </strong> Computación </br>
<strong> Asignatura: </strong> Inteligencia de negocios

In [284]:
# Librerias utilizadas 
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, Markdown, clear_output
import ipywidgets as widgets

<h3 style='text-align: center;'> Mientras más estudiantes recibo ¿Hay más deserción? </h3>
Para responder esta pregunta se han seleccionado las carreras más y menos demandadas de las diferentes sedes, correspondiente al cohorte 2016 - 2017. Posteriormente se obtiene el porcentaje de deserción de cada periodo de académico en las diferentes carreras y finalmente se realizar un análisis de los resultados obtenidos. 

Para que una carrera sea considerada de alta demanda debe superar las 100 inscripciones iniciales (Esto se ha seleccionado en base a mi criterio).

In [285]:
# Funciones propias
def print_title(title):
    display(Markdown(title))

def calcular_porcentaje(row,data,periodos):
    if row['PERÍODO ACADÉMICO CURSA'] == periodos[0]:
        return 0;
    else:
        carrera = row['CARRERA']
        periodo_actual = row['PERÍODO ACADÉMICO CURSA']  
        sede = row['SEDE']
        periodo_anterior = periodos.index(periodo_actual) - 1
        aux = data[(data['CARRERA'] == carrera) & (data['SEDE'] == sede) & (data['PERÍODO ACADÉMICO CURSA'] == periodos[periodo_anterior])]
        porcentaje = round(((aux['NRO ALUMNOS'] - row['NRO ALUMNOS']) * 100) / aux['NRO ALUMNOS'],2)
        return porcentaje

In [288]:
print_title('#### COHORTE 2016-2017 SEDE CUENCA')

cohorte = pd.read_excel('./DataCleaning/Numero_grupos_ofertados_cohorte_2016_2017_49_marzo2022.xlsx')
periodos = cohorte['PERÍODO ACADÉMICO CURSA'].unique().tolist()
labels = cohorte['CARRERA'].unique().tolist()

print_title('**Lista de periodos academicos**')
print(periodos)

carreras_mas_demandadas = cohorte[(cohorte['NRO ALUMNOS'] > 100) & (cohorte['SEDE'] == 'MATRIZ CUENCA') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]
carreras_mas_demandadas = carreras_mas_demandadas.reset_index(drop=True)
carreras_menos_demandadas = cohorte[(cohorte['NRO ALUMNOS'] < 100) & (cohorte['SEDE'] == 'MATRIZ CUENCA') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]
carreras_menos_demandadas = carreras_menos_demandadas.reset_index(drop=True)

carreras = (cohorte[(cohorte['SEDE'] == 'MATRIZ CUENCA') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]).reset_index(drop=True)
data = {} 
for i in carreras.index:
    data[f"{carreras['CARRERA'][i]} - {carreras['NRO ALUMNOS'][i]} ALUMNOS"] = carreras['CARRERA'][i]
print_title('**Carreras más demandadas**')
display(carreras_mas_demandadas)
print_title('**Carreras menos demandadas**')
display(carreras_menos_demandadas)

#### COHORTE 2016-2017 SEDE CUENCA

**Lista de periodos academicos**

['2016 - 2017', '2017 - 2017', '2017 - 2018', '2018 - 2018', '2018 - 2019', '2019 - 2019', '2019 - 2020', '2020 - 2020', '2020 - 2021', '2021 - 2021', '2021 - 2022']

**Carreras más demandadas**

,COHORTE,PERÍODO ACADÉMICO CURSA,SEDE,CAMPUS,CARRERA,ÁREA,MODALIDAD,TIPO PROYECTOEDUCATIVO,NRO ALUMNOS
0,2016 - 2017,2016 - 2017,MATRIZ CUENCA,EL VECINO,COMPUTACIÓN,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,124
1,2016 - 2017,2016 - 2017,MATRIZ CUENCA,EL VECINO,ELECTRICIDAD,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,106
2,2016 - 2017,2016 - 2017,MATRIZ CUENCA,EL VECINO,MECATRÓNICA,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,132

**Carreras menos demandadas**

,COHORTE,PERÍODO ACADÉMICO CURSA,SEDE,CAMPUS,CARRERA,ÁREA,MODALIDAD,TIPO PROYECTOEDUCATIVO,NRO ALUMNOS
0,2016 - 2017,2016 - 2017,MATRIZ CUENCA,EL VECINO,EDUCACIÓN BÁSICA,EDUCACION,PRESENCIAL,NUEVA O REDISEÑO,38
1,2016 - 2017,2016 - 2017,MATRIZ CUENCA,EL VECINO,EDUCACIÓN INICIAL,EDUCACION,PRESENCIAL,NUEVA O REDISEÑO,28
2,2016 - 2017,2016 - 2017,MATRIZ CUENCA,EL VECINO,ELECTRÓNICA Y AUTOMATIZACIÓN,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,50
3,2016 - 2017,2016 - 2017,MATRIZ CUENCA,EL VECINO,TELECOMUNICACIONES,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,25

In [290]:
print_title('#### COHORTE 2016-2017 SEDE QUITO')

cohorte = pd.read_excel('./DataCleaning/Numero_grupos_ofertados_cohorte_2016_2017_49_marzo2022.xlsx')

carreras_mas_demandadas = cohorte[(cohorte['NRO ALUMNOS'] > 100) & (cohorte['SEDE'] == 'QUITO') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]
carreras_mas_demandadas = carreras_mas_demandadas.reset_index(drop=True)
carreras_menos_demandadas = cohorte[(cohorte['NRO ALUMNOS'] < 100) & (cohorte['SEDE'] == 'QUITO') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]
carreras_menos_demandadas = carreras_menos_demandadas.reset_index(drop=True)

carreras = (cohorte[(cohorte['SEDE'] == 'QUITO') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]).reset_index(drop=True)
data = {} 
for i in carreras.index:
    data[f"{carreras['CARRERA'][i]} - {carreras['NRO ALUMNOS'][i]} ALUMNOS"] = carreras['CARRERA'][i]
print_title('**Carreras más demandadas**')
display(carreras_mas_demandadas)
print_title('**Carreras menos demandadas**')
display(carreras_menos_demandadas)

#### COHORTE 2016-2017 SEDE QUITO

**Carreras más demandadas**

,COHORTE,PERÍODO ACADÉMICO CURSA,SEDE,CAMPUS,CARRERA,ÁREA,MODALIDAD,TIPO PROYECTOEDUCATIVO,NRO ALUMNOS
0,2016 - 2017,2016 - 2017,QUITO,SUR,COMPUTACIÓN,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,137
1,2016 - 2017,2016 - 2017,QUITO,SUR,INGENIERÍA CIVIL,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,165

**Carreras menos demandadas**

,COHORTE,PERÍODO ACADÉMICO CURSA,SEDE,CAMPUS,CARRERA,ÁREA,MODALIDAD,TIPO PROYECTOEDUCATIVO,NRO ALUMNOS
0,2016 - 2017,2016 - 2017,QUITO,EL GIRÓN,EDUCACIÓN,EDUCACION,PRESENCIAL,NUEVA O REDISEÑO,17
1,2016 - 2017,2016 - 2017,QUITO,EL GIRÓN,EDUCACIÓN BÁSICA,EDUCACION,PRESENCIAL,NUEVA O REDISEÑO,53
2,2016 - 2017,2016 - 2017,QUITO,EL GIRÓN,EDUCACIÓN INICIAL,EDUCACION,PRESENCIAL,NUEVA O REDISEÑO,61
3,2016 - 2017,2016 - 2017,QUITO,SUR,ELECTRICIDAD,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,91

In [291]:
print_title('#### COHORTE 2016-2017 SEDE GUAYAQUIL')

cohorte = pd.read_excel('./DataCleaning/Numero_grupos_ofertados_cohorte_2016_2017_49_marzo2022.xlsx')

carreras_mas_demandadas = cohorte[(cohorte['NRO ALUMNOS'] > 100) & (cohorte['SEDE'] == 'GUAYAQUIL') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]
carreras_mas_demandadas = carreras_mas_demandadas.reset_index(drop=True)
carreras_menos_demandadas = cohorte[(cohorte['NRO ALUMNOS'] < 100) & (cohorte['SEDE'] == 'GUAYAQUIL') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]
carreras_menos_demandadas = carreras_menos_demandadas.reset_index(drop=True)

carreras = (cohorte[(cohorte['SEDE'] == 'GUAYAQUIL') & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]).reset_index(drop=True)
data = {} 
for i in carreras.index:
    data[f"{carreras['CARRERA'][i]} - {carreras['NRO ALUMNOS'][i]} ALUMNOS"] = carreras['CARRERA'][i]
print_title('**Carreras más demandadas**')
display(carreras_mas_demandadas)
print_title('**Carreras menos demandadas**')
display(carreras_menos_demandadas)

#### COHORTE 2016-2017 SEDE GUAYAQUIL

**Carreras más demandadas**

Empty DataFrame
Columns: [COHORTE, PERÍODO ACADÉMICO CURSA, SEDE, CAMPUS, CARRERA, ÁREA, MODALIDAD, TIPO PROYECTOEDUCATIVO, NRO ALUMNOS]
Index: []

**Carreras menos demandadas**

,COHORTE,PERÍODO ACADÉMICO CURSA,SEDE,CAMPUS,CARRERA,ÁREA,MODALIDAD,TIPO PROYECTOEDUCATIVO,NRO ALUMNOS
0,2016 - 2017,2016 - 2017,GUAYAQUIL,CENTENARIO,COMPUTACIÓN,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,69
1,2016 - 2017,2016 - 2017,GUAYAQUIL,CENTENARIO,ELECTRICIDAD,CIENCIA Y TECNOLOGÍA,PRESENCIAL,NUEVA O REDISEÑO,50

### Gráfico Interactivo

In [293]:
cohorte['% DE DESERCIÓN'] = cohorte.apply(lambda row: calcular_porcentaje(row,cohorte,periodos), axis=1)
cohorte['% DE DESERCIÓN'] = cohorte['% DE DESERCIÓN'].astype(float)

print_title('**Gráfica resultante**')
print_title('Seleccione la sede y las carreras deseadas para mostrar el porcentaje de deserción estudiantil.')
sede = 'MATRIZ CUENCA'

def say_my_name(name):
    carreras = (cohorte[(cohorte['SEDE'] == name) & (cohorte['PERÍODO ACADÉMICO CURSA'] == periodos[0])]).reset_index(drop=True)
    data = {} 
    for i in carreras.index:
        data[f"{carreras['CARRERA'][i]} - {carreras['NRO ALUMNOS'][i]} ALUMNOS"] = carreras['CARRERA'][i]
        
    names = []
    checkbox_objects = []
    
    for key in data:
        checkbox_objects.append(widgets.Checkbox(value=False, description=key))
        names.append(key)
    
    checkbox_objects.append(widgets.Checkbox(value=False, disabled=True, description=name))
    names.append(name)

    arg_dict = {names[i]: checkbox for i, checkbox in enumerate(checkbox_objects)}

    ui = widgets.VBox(children=checkbox_objects)
    out = widgets.interactive_output(select_data, arg_dict)

    display(ui, out)

selected_data = []
def select_data(**kwargs):
    selected_data.clear()
    plt.figure(figsize=(15,10))
    
    sede = list(kwargs)[-1]
    for key in kwargs:
        if kwargs[key] is True and key != 'MATRIZ CUENCA' and key !='QUITO' and key != 'GUAYAQUIL':
            selected_data.append(key)
            data_carrera = (cohorte[(cohorte['CARRERA']== (key.split('-')[0]).strip()) & (cohorte['SEDE'] == sede)]).reset_index(drop=True)
            plt.plot(periodos,data_carrera['% DE DESERCIÓN'],marker='o',label=(key.split('-')[0]).strip())

    plt.title('Deserción Estudiantil')
    plt.xlabel('Período Académico')
    plt.ylabel('% de Deserción')
    plt.legend()
    plt.show()

    print(selected_data)
    
sede_widget = widgets.interact(say_my_name, name=["MATRIZ CUENCA","QUITO", "GUAYAQUIL"]);
sede_widget.widget.children[0].description = 'SEDE'

**Gráfica resultante**

Seleccione la sede y las carreras deseadas para mostrar el porcentaje de deserción estudiantil.

interactive(children=(Dropdown(description='name', options=('MATRIZ CUENCA', 'QUITO', 'GUAYAQUIL'), value='MAT…

### Conclusiones

1. Según los resultados obtenidos se puede decir que el porcentaje de las deserciones no se ve influenciado de gran manera por el número de estudiantes inscritos en una carrera, las deserciones son muy parecidas tanto en carreras de alta y baja demanda. Sin embargo, el mayor número de deserciones sucede durante los 3 primeros ciclos de carrera, según lo que se observa en los resultados de las diferentes sedes.
2.En las carreras de menor demanda existe una mayor tendencia a finalizar sus estudios en el ciclo correspondiente, es decir, que la mayoría de los estudiantes se gradúan sin perder materias por ello se observa un gran porcentaje de deserción en el 10mo ciclo, mientras que en las carreras de mayor demanda se tiende a posponer su finalización algunos ciclos más, en principio se diría que es por la dificultad de la área.